@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root{
  user-select: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,body{
  margin: 0px;
}

details{
  border: 2px solid #21252b;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

details > div{
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

details > div > a:first-child{
  margin-left: 23px;
  color: #ff00ff;
}

details > div > span:first-child{
  font-family: 'Material Symbols Outlined';
  line-height: 1;
  font-size: 18px;
  width: 18px;
  color: blue;
  cursor: pointer;
}

details > div > span:last-child{
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}

details[open] > summary::before{
  content: '-';
}

summary::before{
  content: '+';
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

summary{
  height: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

summary > span:nth-child(2){
  font-family: 'Material Symbols Outlined';
  line-height: 1;
  font-size: 18px;
  width: 18px;
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}

.center{
  display: flex;
  width: 100%;
  justify-content: center;
}

#version-text{
  font-size: 20px;
  margin: 5px;
}

.sound{
  background-color: rgb(220, 255, 220);
}

.loading{
  background-color: rgb(250, 197, 255) !important;
}

.playing{
  background-color: rgb(170, 210, 255) !important;
}