@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root{
  user-select: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,body{
  margin: 0px;
}

details{
  border: 2px solid #21252b;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

details > div{
  margin: 1px 0px;
}

details[open] > summary::before{
  content: '-';
}

summary::before{
  content: '+';
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

summary{
  height: 1em;
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  width: 100%;
  justify-content: center;
}

#version-text{
  font-size: 20px;
  margin: 5px;
}

.sound{
  background-color: rgb(220, 255, 220);
}

.sound-key{
  width: fit-content;
  margin: 3px;
  padding: 2px 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}

.event-key{
  margin: 3px 0px;
  color: rgb(255, 0, 255);
}

.sound-key.loading{
  background-color: rgb(250, 197, 255);
}

.sound-key.playing{
  background-color: rgb(170, 210, 255);
}

.download{
  margin-left: 5px;
}