@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
  user-select: none;
  font-family: "Jetbrains Mono", monospace;
  background: #23272e;
  color: #eeeeee;
}

html,body{
  margin: 0px;
}

details{
  border: 2px solid #777777;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

details > div{
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

details > div > a:first-child{
  margin-left: 23px;
  color: #ea52ea;
}

details > div > span:first-child{
  font-family: 'Material Symbols Outlined';
  line-height: 1;
  font-size: 18px;
  width: 18px;
  color: white;
  cursor: pointer;
}

details > div > span:last-child{
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}

details[open] > summary::before{
  content: '-';
}

summary::before{
  content: '+';
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

summary{
  height: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

summary > span:nth-child(2){
  font-family: 'Material Symbols Outlined';
  line-height: 1;
  font-size: 18px;
  width: 18px;
  color: blue;
  cursor: pointer;
  margin-left: 5px;
  align-self: baseline;
}

.center{
  display: flex;
  width: 100%;
  justify-content: center;
}

#version-text{
  font-size: 20px;
  margin: 5px;
}

.sound{
  background-color: #123d12;
}

.loading{
  background-color: #f5df5b !important;
  color: #222222;
}

.playing{
  background-color: #bcc8ff !important;
  color: #222222;
}

.downloading{
  color: #ffe400 !important;
}

.search{
  display: flex;
  flex-direction: column;
}

#sound{
  border: 2px solid #777777;
  box-sizing: border-box;
  margin: 0 5px;
  font-family: "Jetbrains Mono", monospace;
  outline: none;
  background: #2e3237;
  color: white;
  padding: 4px;
  font-size: 16px;
}